button {
    background: transparent;
    margin: 0.2rem;
    margin-right: 2rem;
    border: 0px;
    color: #D0CBCB;
}

.active {
    color: #fff;
    border-bottom: 0.2rem solid #fff;
    border-radius: 0.08rem;
}